################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
bin
obj
/CodeDesignWebAPI/Logs
/packages/Newtonsoft.Json.13.0.3
